@model TodoList.Web.Models.HomeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = Localizer["Feed"];
}

<hr/>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="true">@Localizer["Recently added"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="due-tab" data-toggle="tab" href="#due" role="tab" aria-controls="due" aria-selected="false">@Localizer["Due Date"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">@Localizer["Calendar"]</a>
    </li>
</ul>
<a class="btn btn-success" asp-action="Create">@Localizer["Add Todo"]</a>
<hr/>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
        <h2>@Localizer["Recently added"]</h2>

        <table class="table">
            <thead>
            <tr>
                <th>
                    @Localizer["Update Status"]
                </th>
                <th>
                    @Localizer["Title"]
                </th>
                <th>
                    @Localizer["Done"]
                </th>
                <th>
                    @Localizer["Added"]
                </th>
                <th>
                    @Localizer["Tags"]
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.RecentlyAddedTodos)
            {
                <tr>
                    <td>
                        <form asp-action="UpdateDone" method="post">
                            <input type="checkbox" class="done-checkbox" asp-for="@item.Done"/>
                            <input type="hidden" name="id" value="@item.Id"/>
                        </form>
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @(item.Done ? "Yes" : "No")
                    </td>
                    <td>
                        <span data-value="@item.Added" class="timeStampValueModernized">
                            @item.Added
                        </span>
                    </td>
                    <td>
                        @if (item.Tags != null)
                        {
                            @foreach (var tag in item.Tags)
                            {
                                <a asp-action="Index" asp-route-tag="@tag" class="badge badge-light">@tag</a>
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="due" role="tabpanel" aria-labelledby="due-tab">
        <h2>@Localizer["Due date"]</h2>

        <table class="table">
            <thead>
            <tr>
                <th>
                    @Localizer["Update Status"]
                </th>
                <th>
                    @Localizer["Title"]
                </th>
                <th>
                    @Localizer["Done"]
                </th>
                <th>
                    @Localizer["Due to"]
                </th>
                <th>
                    @Localizer["Tags"]
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.CloseDueToTodos)
            {
                <tr>
                    <td>
                        <form asp-action="UpdateDone" method="post">
                            <input type="checkbox" class="done-checkbox" asp-for="@item.Done"/>
                            <input type="hidden" name="id" value="@item.Id"/>
                        </form>
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @(item.Done ? "Yes" : "No")
                    </td>
                    <td>
                        <span data-value="@item.DueTo" class="timeStampValueModernized">
                            @item.DueTo
                        </span>
                    </td>
                    <td>
                        @if (item.Tags != null)
                        {
                            @foreach (var tag in item.Tags)
                            {
                                <a asp-action="Index" asp-route-tag="@tag" class="badge badge-light">@tag</a>
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <h2>Calendar</h2>

        @{ var days = 0; }
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th colspan="7">
                    @DateTime.Now.ToString("MMMM")
                </th>

            </tr>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tues</th>
                <th>Wen</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>
            <tbody>


                <tr>
                    @for (var i = 0; i < Model.CalendarViewModel.OffsetFromSun; i++)
                    {
                        <td>
                        </td>
                    }
                    @while (days < Model.CalendarViewModel.NumberOfDays)
                    {
                        days = days + 1;
                        <td>
                            @days

                            @{
                                var dayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, days);
                                if (Model.CalendarTodosByDay.ContainsKey(dayOfMonth.Day))
                                {
                                    var todosInDay = Model.CalendarTodosByDay[dayOfMonth.Day].ToList();
                                    
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todomodal-@days">
                                        @todosInDay.Count
                                    </button>
                                    
                                    <div class="modal fade" id="todomodal-@days" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel">Todos</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <ul class="list-group">
                                                        @foreach (var todo in todosInDay)
                                                        {
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                @todo.Title
                                                                <a type="button" class="btn btn-info" href="/Todos/Details?id=@todo.Id">View</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                        if ((days + Model.CalendarViewModel.OffsetFromSun) % 7 == 0)
                        {
                            WriteLiteral("</tr><tr>");
                        }
                    }
                    @while (days + Model.CalendarViewModel.OffsetFromSun < 35)
                    {
                        days = days + 1;
                        <td>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>